.article-container {
  --jxt-sidebar-width:308px;
  padding: 48px calc(224px + 50px) 0 calc(308px + 50px);
  box-sizing: border-box;
}

.article-container-aside {
  position: fixed;
  top: var(--jxt-header-height);
  left: 0;
  display: block;
  width: var(--jxt-sidebar-width);
  max-width: var(--jxt-sidebar-width);
  height: calc(100vh - var(--jxt-header-height));
  padding: 0 25px 0 100px;
  background-color: var(--jxt-feature-card-bg);
  overflow-y: auto;
  overflow-x: hidden;
}

.article-outline-content {
  position: fixed;
  top: var(--jxt-header-height);
  right: 0;
  display: flex;
  flex-direction: column;
  order: 2;
  max-width: 224px;
  min-height: 224px;
  width: 224px;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - var(--jxt-header-height));
  padding: 48px 0 0 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.article-container-menu{
  display: none;
}

.chart-pc{
  display: block;
}

.chart-mobile{
  display: none;
}