.mjx-header {
  padding: 0 50px;
  justify-content: space-between;
}

.mjx-header-operate-container {
  display: flex;
}

.mjx-header-operate-more {
  display: none;
}

.article-container {
  --jxt-sidebar-width:258px;
  padding: var(--jxt-header-height) calc(224px + 25px) 0 calc(258px + 25px);
  box-sizing: border-box;
}

.article-container-aside {
  position: fixed;
  top: var(--jxt-header-height);
  left: 0;
  display: block;
  width: var(--jxt-sidebar-width);
  max-width: var(--jxt-sidebar-width);
  height: 100vh;
  padding: 0 25px 0 50px;
  background-color: var(--jxt-feature-card-bg);
  overflow-y: auto;
  overflow-x: hidden;
}

.article-container-menu{
  justify-content: flex-start;
  padding-left: calc(var(--jxt-sidebar-width) + 25px);
  padding-right: 25px;
}

.article-container-menu-item.menu{
  display: none;
}

.article-outline-content {
  position: fixed;
  top: var(--jxt-header-height);
  right: 0;
  display: flex;
  flex-direction: column;
  order: 2;
  max-width: 224px;
  min-height: 224px;
  width: 224px;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - var(--jxt-header-height));
  padding: 48px 0 0 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.chart-pc{
  display: none;
}

.chart-mobile{
  display: block;
}
