.mjx-header {
  padding: 0 50px;
  justify-content: space-between;
}

.mjx-header-right {
  display: flex;
  align-items: center;
}

.mjx-header-operate-container {
  display: none;
}

.header-anchor {
  position: relative;
}

.header-anchor::before {
  content: "#";
  opacity: 0;
  position: absolute;
  left: -25px;
  color: var(--jxt-main-color);
}

.article-content h2:hover .header-anchor::before {
  opacity: 1;
}

.article-content h3:hover .header-anchor::before {
  opacity: 1;
}

.article-content h4:hover .header-anchor::before {
  opacity: 1;
}

.article-content h5:hover .header-anchor::before {
  opacity: 1;
}

.article-content h6:hover .header-anchor::before {
  opacity: 1;
}

.article-content h1 {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 32px;
}

.article-container {
  padding: var(--jxt-header-height) 50px 0 50px;
  box-sizing: border-box;
}

.article-container-menu{
  padding-left: calc(var(--jxt-sidebar-width) + 50px);
  padding-right: 50px;
}

.article-container-footer-nav {
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 128px;
}

.chart-pc{
  display: block;
}

.chart-mobile{
  display: none;
}
