.mjx-header {
  width: 100vw;
  height: var(--jxt-header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--jxt-border-card-color);
  padding: 0 25px;
  justify-content: space-between;
  background-color: var(--jxt-bg-color-card);
  z-index: 999999999;
}

.article-container {
  position: absolute;
  top: var(--jxt-header-height);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--jxt-header-height));
  background-color: var(--jxt-bg-color-card);
  scroll-behavior: smooth;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  padding: var(--jxt-header-height) 25px 0 25px;
  box-sizing: border-box;
}

.article-container-aside {
  display: none;
  scroll-behavior: smooth;
  z-index: 88888888;
}

.article-container-aside-nav-title-text {
  color: var(--jxt-text-color-1);
  font-weight: 700;
  flex-grow: 1;
  padding: 4px 0;
  line-height: 24px;
  font-size: 14px;
  transition: color 0.25s;
}

.article-container-sidebar-nav-list {
  list-style-type: none;
}

.article-container-sidebar-nav-item-text {
  font-weight: 500;
  color: var(--jxt-text-color-2);
  flex-grow: 1;
  padding: 4px 0;
  line-height: 24px;
  font-size: 14px;
  transition: color 0.25s;
}

.article-container-sidebar-nav-item-text-active {
  color: var(--jxt-main-color);
}

.article-container-sidebar-section {
  padding-top: 10px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--jxt-border-card-color);
}

.article-container-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: var(--jxt-header-height);
  left: 0;
  background-color: var(--jxt-bg-color-card);
  width: 100vw;
  padding-left: calc(var(--jxt-sidebar-width) + 25px);
  padding-right: 25px;
  border-bottom: 1px solid var(--jxt-border-divider-color);
  z-index: 7777777;
}

.article-container-menu-item {
  align-items: center;
  padding: 12px 0 11px;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  transition: color 0.5s;
  display: flex;
  align-items: center;
  color: var(--jxt-tagline-color);
}

.article-container-menu-item-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-container-menu-item-icon svg path{
  stroke:var(--jxt-tagline-color);
}

.article-container-menu-item-icon.left{
  margin-right: 8px;
}

.article-container-menu-item-icon.right{
  margin-left: 2px;
}

.article-container-footer {
  margin-top: 64px;
}

.article-container-footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 14px;
}

.article-container-footer-info-time {
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  color: var(--jxt-text-color-2);
}

.article-container-footer-nav {
  display: grid;
  grid-row-gap: 8px;
  border-top: 1px solid var(--jxt-border-divider-color);
  padding-top: 24px;
  padding-bottom: 96px;
}

.article-container-footer-nav-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--jxt-border-divider-color);
  border-radius: 8px;
  padding: 11px 16px 13px;
}

.article-container-footer-nav-item-next {
  text-align: right;
}

.article-container-footer-nav-item:hover {
  border-color: var(--jxt-main-color);
}

.article-container-footer-nav-item-text {
  color: var(--jxt-text-color-2);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  display: block;
}

.article-container-footer-nav-item-title {
  color: var(--jxt-main-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: color 0.25s;
  display: block;
}

.article-content img {
  max-width: 100%;
  border-radius: 5px;
}

.article-content :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) > a {
  font-weight: 500;
  color: var(--jxt-main-color);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: color 0.25s, opacity 0.25s;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  position: relative;
  font-weight: 600;
  outline: none;
}

.article-content h1 {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
}

.article-content h2 {
  margin: 48px 0 16px;
  border-top: 1px solid var(--jxt-border-card-color);
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

.article-content h2 a {
  color: var(--jxt-text-color-1);
}

.article-content h3 a {
  color: var(--jxt-text-color-1);
}

.article-content h4 a {
  color: var(--jxt-text-color-1);
}

.article-content h5 a {
  color: var(--jxt-text-color-1);
}

.article-content h6 a {
  color: var(--jxt-text-color-1);
}

.article-content p {
  line-height: 28px;
  margin: 16px 0;
}

.article-content ul,
.article-content ol {
  padding-left: 1.25rem;
  margin: 16px 0;
}

.article-content ul {
  list-style-type: disc;
}

.article-content :not(pre) > code {
  border-radius: 4px;
  padding: 3px 6px;
  background-color: var(--jxt-code-bg);
  transition: color 0.25s, background-color 0.5s;
}

.article-content :not(pre, h1, h2, h3, h4, h5, h6) > code {
  font-size: var(--jxt-code-font-size);
  color: var(--jxt-code-color);
}

.article-content pre {
  width: 100%;
  overflow-x: auto;
  border-radius: 8px;
  margin: 16px 0;
  position: relative;
  z-index: 1;
  padding: 20px 0;
}

.article-content pre,
.article-content pre code {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

.article-content pre code {
  display: block;
  width: fit-content;
  min-width: 100%;
}

.article-content-pre-copy {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--jxt-border-divider-color);
  border-radius: 4px;
  background-color: var(--jxt-bg-color-card);
  opacity: 0;
  transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
}

.article-content pre:hover .article-content-pre-copy {
  opacity: 1;
}

.article-content-pre-lang {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 12px;
  z-index: 2;
  font-weight: 500;
  color: var(--jxt-text-color-3);
}

.custom-container,
.markdown-alert {
  margin: 16px 0;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px 16px 8px;
  line-height: 24px;
  font-size: 14px;
  color: var(--jxt-text-color-2);
}

.custom-container-title,
.markdown-alert-title {
  font-weight: 600;
  line-height: 24px;
}

.custom-container-info,
.markdown-alert-note {
  border-color: var(--jxt-custom-block-info-bg);
  background-color: var(--jxt-custom-block-info-bg);
}

.markdown-alert-important {
  border-color: var(--jxt-custom-block-important-bg);
  background-color: var(--jxt-custom-block-important-bg);
}

.custom-container-tip,
.markdown-alert-tip {
  border-color: var(--jxt-custom-block-tip-bg);
  background-color: var(--jxt-custom-block-tip-bg);
}

.custom-container-warning,
.markdown-alert-warning {
  border-color: var(--jxt-custom-block-warning-bg);
  background-color: var(--jxt-custom-block-warning-bg);
}

.custom-container-danger,
.markdown-alert-caution {
  border-color: var(--jxt-custom-block-danger-bg);
  background-color: var(--jxt-custom-block-danger-bg);
}

.custom-container-details {
  border-color: var(--jxt-custom-block-details-bg);
  background-color: var(--jxt-custom-block-details-bg);
}

.custom-container-details summary {
  margin-bottom: 8px;
  cursor: pointer;
}

.footnote-backref {
  color: var(--jxt-main-color);
}

.katex-html[aria-hidden="true"] {
  display: none;
}

.spoiler {
  background-color: var(--jxt-black-bg-white);
  color: var(--jxt-black-bg-white);
  cursor: help;
  border-radius: 0.2em;
}

.spoiler:hover {
  background-color: transparent;
}

.task-list-container {
  list-style-type: none !important;
  padding: 0 !important;
}

.task-list-item {
  display: flex;
  align-items: center;
}

.task-list-item-checkbox[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  background-color: var(--jxt-checkbox-disabled-bg);
}

.task-list-item-checkbox[type="checkbox"]:checked {
  background-color: var(--jxt-main-color);
  border-color: var(--jxt-main-color);
}

.task-list-item-checkbox[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.325em;
  height: 0.625em;
  border: solid var(--jxt-bg-color-card);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -60%) rotate(45deg);
}

.article-content table {
  border-collapse: collapse;
  margin: 20px 0;
  display: block;
  overflow-x: auto;
}

:where([dir="ltr"]) .article-content th {
  text-align: left;
}

.article-content th,
.article-content td {
  border: 1px solid var(--jxt-border-divider-color);
  padding: 8px 16px;
}

.article-content th {
  color: var(--jxt-text-color-blank);
  background-color: var(--jxt-feature-card-bg);
  font-size: 14px;
  font-weight: 600;
}

.article-content tr {
  background-color: var(--jxt-bg-color-card);
  border-top: 1px solid var(--jxt-border-divider-color);
}

.article-content td {
  font-size: 14px;
}

.article-content tr:nth-child(2n) {
  background-color: var(--jxt-feature-card-bg);
}

.article-content td.yes {
  color: red;
}

.chart {
  padding: 48px 0 24px 0;
}

.chart svg {
  width: auto;
  height: auto;
  max-width: 100%;
}

.chart svg text {
  fill: var(--jxt-text-color-1) !important;
}

.chart svg text[stroke] {
  stroke: var(--jxt-bg-color-card);
}

.chart-pc {
  display: none;
}

.chart-mobile {
  display: block;
}

.article-outline-title {
  line-height: 32px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 16px;
}

.article-outline-content .article-outline-of-contents ol {
  list-style-type: none;
}

.article-outline-content .article-outline-of-contents {
  position: relative;
  border-left: 1px solid var(--jxt-border-divider-color);
  padding-left: 16px;
  font-size: 13px;
  font-weight: 500;
}

.article-outline-content .article-outline-of-contents::before {
  position: absolute;
  content: "";
  left: -1px;
  top: 7px;
  width: 2px;
  border-radius: 2px;
  height: 18px;
  opacity: 1;
  background-color: var(--jxt-main-color);
  transition: top 0.25s cubic-bezier(0, 1, 0.5, 1), background-color 0.5s,
    opacity 0.25s;
}

.article-outline-link {
  display: block;
  line-height: 32px;
  font-size: 14px;
  font-weight: 400;
  color: var(--jxt-text-color-2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.5s;
}

.article-outline-of-contents ol ol {
  padding: 0 16px;
}

.article-outline-of-contents ol ol ol ol {
  display: none;
}
