.mjx-footer a {
  color: var(--jxt-footer-a-color);
  font-size: 14px;
}

.mjx-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--jxt-main-color);
}

.mjx-header-right {
  display: flex;
  align-items: center;
}

.mjx-header-operate-container {
  display: none;
}

.mjx-header-operate {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: var(--jxt-header-height);
  height: var(--jxt-header-height);
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  color: var(--jxt-text-color-1);
  cursor: pointer;
}

.mjx-header-operate-more {
  display: flex;
  position: relative;
}

.mjx-header-operate-more-container{
  position: absolute;
  bottom: 0;
  right: 0;
}